@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
:root {
  --background-color: #ffffff;
  --main-font-color: #000;
  --color-primary: #eeeeee;
  --color-tertiary: #cccccccc;

  --color-secondary: #5d5fef;
  --color-placeholder: #999999;
  --font-base: 1rem;
  --max-width: 130rem;
  --translation-effect-slow: all 0.5s ease-in-out;
  --translation-effect-fast: all 0.2s ease-in-out;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 10px;
}
body {
  box-sizing: border-box;
  background: var(--background-color);
  min-height: 100dvh;
  font-family: 'Work Sans', sans-serif;
  font-size: calc(var(--font-base) * 1.5);
  color: var(--main-font-color);
  text-transform: capitalize;
}
.button {
  border: none;
  outline: none;
  cursor: pointer;
}
.rounded-sm {
  border-radius: 5px;
}
.header {
  width: 95%;
  display: flex;
  align-items: center;
  padding: calc(var(--font-base) * 2) 0rem;
  gap: calc(var(--font-base) * 2.5);
  margin: auto;
  border-bottom: 1px solid var(--color-tertiary);
}
.search {
  flex: 0 0 25%;
  display: flex;
  align-items: center;
  gap: var(--font-base);
}
.search .search__input,
.search .search__select {
  padding-top: calc(var(--font-base) * 0.5);
  padding-bottom: calc(var(--font-base) * 0.5);
  background-color: var(--color-primary);
  border-radius: 3px;
  border: none;
  outline: none;
}

.search .search__input {
  flex-basis: 65%;
  padding-left: var(--font-base);

  padding-right: var(--font-base);
}
.search .search__select {
  flex-basis: 35%;
  text-indent: var(--font-base);
  appearance: none;
  background-image: url('./assets/arrow-down-sign-to-navigate.png');
  background-repeat: no-repeat;
  background-position: right var(--font-base) top 50%;
  background-size: var(--font-base) auto;
  position: relative;
  text-transform: capitalize;
}
.search .search__input:focus,
.search .search__input:active {
  outline: none;
}

.search .search__input::placeholder {
  color: var(--color-placeholder);
  font-size: calc(var(--font-base) * 1.5);
}
.header__title {
  color: var(--main-font-color);
  font-size: calc(var(--font-base) * 2);
  font-weight: 500;
}

.header .header__list {
  display: flex;
  margin-left: auto;
  gap: calc(var(--font-base) * 3);
  align-items: center;
}
.header .header__item {
  color: var(--color-secondary);
  background-color: transparent;
  border: none;
  font-weight: 500;
  display: flex;
  gap: var(--font-base);
  font-size: calc(var(--font-base) * 1.5);
  align-items: center;
  cursor: pointer;
  outline: none;
}
.header .header__item:hover,
.header .header__item:focus {
  outline: none;
}
.header .header__item:first-child {
  font-weight: 700;
}
.header .header__item-icon {
  fill: var(--color-secondary);
  width: calc(var(--font-base) * 2);
  height: calc(var(--font-base) * 2);
}
.students__container {
  margin: auto;
  max-width: var(--max-width);
  padding: calc(var(--font-base) * 2) 0;
}
.students__table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}

.students__table__cell {
  padding: calc(var(--font-base) * 2);
  text-align: start;
  min-width: 10rem;
  max-width: 20rem;
  position: relative;
}
.students__table .students__table__cell:first-child {
  min-width: 2rem;
  max-width: 4rem;
}
.students__table__header .students__table__cell {
  border-bottom: 2px solid var(--color-primary);
}
.students__table__body .students__table__cell {
  border-bottom: 2px dashed var(--color-primary);
}

.students__table__cell:not(:first-child):after {
  content: '';
  position: absolute;
  left: 0%;
  top: 5%;
  /* how  to calc the hight so it's can fit the page without scroll*/
  height: calc(100vh - 21rem);
  z-index: 6;
  background-color: var(--color-primary);
  width: 2px;
}
.students__table__cell .cell__slash {
  color: var(--color-tertiary);
}
.students__table__body .students__table__cell-email {
  text-decoration: underline;
}

.students__table__cell-button--edit,
.students__table__cell-button--delete {
  background-color: transparent;
  color: var(--color-secondary);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transition: var(--translation-effect-fast);
}
.popup__delete-all,
.popup__new-student {
  position: fixed;
  top: 50%;

  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-tertiary);
  padding: calc(var(--font-base) * 2);
  z-index: 11;
  flex-direction: column;
  gap: calc(var(--font-base) * 2);
  transition: var(--translation-effect-fast);
}
.popup__delete-all {
  max-width: 50rem;
}
.popup__delete-all__close,
.popup__new-student__close {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  text-align: end;
}
.popup__delete-all__close .popup__delete-all__close-icon,
.popup__new-student__close .popup__new-student__close-icon {
  fill: var(--color-secondary);
  width: calc(var(--font-base) * 1.5);
  height: calc(var(--font-base) * 1.5);
}
.popup__delete-all__title,
.popup__new-student__title {
  font-size: calc(var(--font-base) * 2);
  font-weight: 500;
}
.popup__delete-all__container,
.popup__new-student__container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--font-base) * 2);
}
.popup__delete-all__buttons,
.popup__new-student__form__buttons {
  display: flex;
  gap: calc(var(--font-base) * 2);
  justify-content: flex-end;
}

.popup__new-student {
  max-width: 50rem;
  width: 100%;
}
.popup__new-student__form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--font-base) * 2);
}
.popup__new-student__form .popup__new-student__form__input {
  padding: var(--font-base);
  border: none;
  outline: none;
  background-color: var(--color-primary);
}
.popup__new-student__form__button--toggle,
.popup__delete-all__button--delete {
  background-color: var(--color-secondary);
  color: var(--background-color);
  padding: var(--font-base) calc(var(--font-base) * 2);
}
.popup__new-student__form__button--cancel,
.popup__delete-all__button--cancel {
  background-color: var(--color-tertiary);
  color: var(--background-color);
  padding: var(--font-base) calc(var(--font-base) * 2);
}
.students__table__cell-email {
  text-transform: none;
}
#download-btn {
  position: relative;
}
.dropdown__download-all {
  background-color: var(--background-color);
  color: var(--main-font-color);
  box-shadow: 0px 0px 1rem rgba(93, 95, 239, 0.5);
  padding-top: var(--font-base);
  padding-bottom: var(--font-base);

  max-width: 20rem;
  width: 100%;
  z-index: 9999;
  border-radius: calc(var(--font-base) * 0.5);
}
.dropdown__list__download-all {
  display: flex;
  flex-direction: column;
  gap: var(--font-base);
}
.dropdown__item__download {
  all: unset;
  padding: var(--font-base) calc(var(--font-base) * 2);
  transition: all 0.4s;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.dropdown__item__download::before {
  content: '';
  width: 0px;
  height: 100%;
  position: absolute;
  background-color: var(--color-secondary);
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.dropdown__item__download:hover {
  color: var(--color-primary);
}
.dropdown__item__download:hover::before {
  width: 100%;
}
.hidden-dropdown {
  display: none;
}

.hidden {
  transform: scale(0);
  visibility: hidden;
}
.show {
  transform: scale(1);
  visibility: visible;
}
.popup__new-student__form .popup__new-student__input--error {
  border: 1px solid red;
}
@media only screen and (max-width: 75em) {
  /* Q trying to give them equal width but not working the select is taking more space and overflowing the container why? */
  .search .search__input,
  .search .search__select {
    flex: 0 0 50%;
  }
}
@media only screen and (max-width: 50em) {
  .header {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--font-base);
  }
  .header .header__list {
    gap: var(--font-base);
    justify-content: space-between;
  }
  .search {
    align-self: center;
    flex: 0 0 90%;
    margin: auto;
    order: 1;
    padding: 1rem;
  }
}

@media only screen and (max-width: 40.625em) {
  html {
    font-size: 8px;
  }
  .students__table__header .students__table__cell {
    display: none;
  }
  .students__table__body .students__table__cell,
  .students__table__body .students__table__cell:first-child {
    display: block;
    min-width: 10rem;
    max-width: 100%;
  }

  .students__table__body .students__table__cell::before {
    content: attr(data-cell) ' : ';
    font-weight: bold;
    padding-right: calc(var(--font-base) * 2);
  }
}
